:root {
  --mw: 100%;
  /* tamanho vertical */
  --mh: 100%;
  /* tamanho horizontal */

  --color-map: #e6e6e6;
	--color-player:  #e73c7e;
}


#map {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(11, 1fr);
  width: 200px;
  height: 200px;
  background-color: var(--colorMap);
}

#map .muro {
  position: relative;
  top: 0px;
  width: var(--mw);
  height: var(--mh);
  background-color: var(--white);
}
